
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-light: #4a4b57;
  --color-mid: #2b3747;
  --color-dark: #161e27;
  --color-white: #fff;
  --color-background: #262b3c;
  --color-button-hover-text: #161e27;
  --color-muted: #8899a6;
  --color-logo: #0285ff;
  --color-action-hover: #1d9bf0;
}

body {
  background: var(--color-background);
  background: radial-gradient(
    circle at top,
    var(--color-mid) 0%,
    var(--color-dark) 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: var(--color-white);
}

section {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;
}

main {
  border-left: 1px solid var(--color-light);
  border-right: 1px solid var(--color-light);
  width: 100%;
}




.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease;
}



.register-link, .login-link {
  color: var(--color-action-hover);
}

.wrapper.active {
  height: 570px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);

}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: var(--color-action-hover);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 43px;
  border-bottom: 2px solid var(--color-white);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--color-white);
  pointer-events: none ;
  transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--color-white);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: var(--color-white);
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: var(--color-white);
  font-weight: 500;
  margin: 15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--color-white);
  text-decoration: none;
}


.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: var(--color-action-hover);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: var(--color-white);
  font-weight: 500;
  overflow: hidden;
  position: relative;
  z-index: 10;
  transition: all 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  color: #162938;
  font-weight: 700;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.btn:hover::before {
  transform: scaleX(1);
  border-radius: 6px;
  transform-origin: left center;
}

.login-register {
  font-size: .9em;
  color: var(--color-white);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

aside {
  display: flex;
  width: 100%;
}

.join {
  position: relative;
  width: 250px;
  margin-top: 25px;
  right: 0;
  margin-left: auto;
  height: max-content;
}

button {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid var(--color-white);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9em;
  color: var(--color-white);
  font-weight: 500;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: var(--color-white);
  transform: translateY(-2px);
  color: var(--color-button-hover-text);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.join h2 {
  font-size: 1.8em;
  font-weight: 900;
}

.headMian {
  border-bottom: 1px solid var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.post {
  padding: 12px;
  border-bottom: 1px solid var(--color-light);
  min-width: 550px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.avatar {
  width: 48px;
  height: 48px;
  background-color: aqua;
  border-radius: 50%;
  margin-right: 12px;
}

.user-info {
  flex-grow: 1;
}

.display-name {
  font-weight: bold;
  margin-bottom: 2px;
}

.username {
  color: var(--color-muted);
}

.timestamp {
  color: var(--color-muted);
  margin-left: 4px;
}

.post-content {
  margin-bottom: 12px;
  line-height: 1.4;
  margin-left: 60px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  max-width: 130px;
  color: var(--color-muted);
  margin-left: 60px;
}

.action {
  display: flex;
  align-items: center;
  gap: 6px;
}

.action:hover {
  color: var(--color-action-hover);
  cursor: pointer;
}

.headMain {
  border-bottom: 1px solid var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.logo {
  height: 40px;
}

.btnSignUp-popup {
  background-color: var(--color-logo);
  border: none;
}

.remember-forgot label input {
  accent-color:var(--color-action-hover);
}
