<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/01icon.png">
    <link rel="stylesheet" href="/static/css/stayle.css">
    <title>Ascii Art | Home Page</title>
</head>

<body>
    <div class="soufian">
        <div class="container">
            <div class="box" id="inputBox">
                <img src="/static/imgs/template.png" alt="">
                <form action="/loginForum" method="post">
                    <input type="text" placeholder="Enter Username" class="inputUsername" name="uname" required>
                    <input type="password" placeholder="Password" class="inputUsername" name="uname" required>
                    <button id="submitBoutton" class="button" role="button">Log in</button>
                </form>
            </div>
            <span class="sgin">Don't have an account? <a href="#">Sign up</a></span>
        </div>
    </div>

</body>

</html>