<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1>Login</h1>
    <form id="loginForm">
        <input type="email" id="email" name="email" required placeholder="Email">
        <input type="password" id="password" name="password" required placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email: document.getElementById('email').value,
                    password: document.getElementById('password').value,
                }),
            });
            if (response.ok) {
                const data = await response.json();

                sessionStorage.setItem('username', data.username);
                sessionStorage.setItem('user_id', data.id);


                alert(`Login successful! Your user ID is: ${data.id}`);
                window.location.href = "/home"
                // Redirect to home page or dashboard
            } else {
                alert('Login failed');
            }
        });
    </script>
</body>

</html>