<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon" href="../static/imgs/logo.png" type="image/x-icon">
    <title>Error Page</title>
</head>

<body>
    <div class="container">
        <h1 class="status-code"> </h1>
        <p class="message"></p>
        <a href="/home">
             <button class="back-button" >Back to Home</button>
        </a>
    </div>
    <script  src="../static/js/errors.js"></script> 
</body>

</html>