<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon" href="../static/imgs/logo.png" type="image/x-icon">
    <title>Error Page {{.Code}}</title>
</head>

<body>
    <div class="container">
        <img class="img" src="../static/imgs/logoerr.gif" alt="" />
        <h1 class="status-code">{{.Code}}</h1>
        <p class="message">{{.Msg}}</p>
        <a href="/home">
        <button class="back-button" >Back to Home</button>
    </a>
    </div>
</body>

</html>