<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />

    <title>Error Page</title>
</head>

<body>
    <div class="container">
        <img class="img" src="../static/imgs/logoerr.gif" alt="" />
        <h1 class="status-code">{{.Code}}</h1>
        <p class="message">{{.Msg}}</p>
        <button class="back-button" onclick="goBack()">Back to Home</button>
    </div>
</body>

</html>