<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <style>
        .wrapper{
            height: 49px !important ;
        }
    </style>
</head>

<body>
    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <a href="/forum">Forum</a>
            <a href="/about">About</a>
            <a href="#">Contact</a>
            <button class="btnLogin-popup" onclick="window.location.href='/login'">Login</button>
        </nav>
    </header>

    <div class="form-box register">
      
    </div>



    <script src="../static/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>

    <script>
        new MultiSelectTag('countries')   
    </script>
</body>

</html>