<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Forum</title>
</head>
<body>
    <div class="body">
        <div class="left-content">
        
        </div>
        <div class="center-content">
            <div class="logo">
                <img class="img" src="../static/imgs/logo.png" alt="">
            </div>
            <div class="categories">
                <a href="#">Discovery</a>
                <a href="#">General</a>
                <a href="#">Arts</a>
                <a href="#">Gaming</a>
                <a href="#">Technology</a>
            </div>
            <div class="posts"></div>
        </div>
        <div class="right-content">
        
        </div>
    </div>
</body>
</html>
