<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Post</h1>
    <form action="" id="form-submit">
        <div class="input-box">
            <input type="text" required id="title" />
            <label>title</label>
        </div>
        <div class="input-box">
            <input type="text"   required id="content" />
            <label>content</label>
        </div>
        <div class="input-box">
                 <select name="countries" id="countries" multiple>
                    <option value="Technology">Technology</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Arts & Entertainment">Arts & Entertainment</option>
                    <option value="General Discussion">General Discussion</option>
                </select>
        </div>
        <button type="submit" class="btn">Create Post</button>
         
    </form>
    <script src="../static/js/post.js"></script>

</body>
</html>