<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend Example</title>
    <link rel="stylesheet" href="/frontend/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>API Response</h1>
        <button id="fetchDataBtn">Fetch Data</button>
        <div id="responseData" class="response-data">
        </div>
    </div>

    <script src="/frontend/static/js/app.js" >
       
    </script>
</body>
</html>
